.header_contest_list{
       background-color: var(--content-header-bg);
       padding: 3px;
       border-radius: 5px;
	}
	.contest_list_body{
		margin-bottom: 15px;
	}
	.enter_cla,.enter_cla:hover,.enter_cla:active{
		background-color: #2C3542;
		color: #ffffff;
		padding: 3px;
    margin-right: 5px;
	}

.add_contest_btn{
  background-color: var(--header-bg-color);
  margin-bottom: 5px;

}
.add_field_body{
  background-color: #ffffff;
  padding: 10px;
}
.add_input_box{
  width: 500px;
  height: 50px;
  padding:12px 0px 0px 20px;
  font-size: 15px;
  color: #000000;
  border-radius: 5px;
  resize: none;
}
.select_type{
  width: 100px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
}
.td_title{
  width: 200px;
  
}
.td_content{

}
.td_title,.td_content{
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #B9B9B9;
  padding: 10px;
}
.input_date_box{
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #B9B9B9;
  border-width: 1px;
}
.contest_add_body{
  background-color: var(--content-header-bg);
  padding: 10px;
  border-radius: 5px;
}
.btn_action{
  width: 35px;
  font-weight: bold;
  padding: 5px;
  margin-right: 2px;
  background-color: var(--header-bg-color);
}
	.problem_td_h1{
    padding: 5px;
    border-width: 1px;
    border-color: var(--content-header-bg);
    background-color: #ECF0F1;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border-style: solid;
  }
  .problem_td1{
    padding: 10px;
    border-width: 1px;
    border-color: var(--content-header-bg);
    background-color: var(--content-bg-color);
    color: #000000;
    text-align: center;
    border-style: solid;
  }

  
.modal_contest .modal-dialog{max-width: 600px; width: 100%;}
#custom-search-input{
    padding: 3px;
    border: solid 1px #B9B9B9;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
  .problem_set{
    padding: 15px;
    cursor: pointer;
  }
  .problem_set:hover{
    background-color: #eeeeee;
  }
  .modal-header .close {
      margin: 0;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 40px;
      height: 40px;
      border-radius: 23px;
      background-color: #00aeef;
      color: #ffe300;
      font-size: 17px;
      opacity: 1;
      z-index: 10;
}
  
  .problem_td_h{
    padding: 12px;
    border-width: 1px;
    border-color: #7F8FA6;
    background-color: #0A3D62;
    color: #ffffff;
    text-align: center;
    border-style: solid;
  }

  .problem_td,.problem_td_ac,.problem_td_wa,.problem_title{
    padding: 10px;
    border-width: 1px;
    border-color: #7f8c8d;
    border-style: solid;
    font-weight: bold;
    font-size: 12px;
  }

  .problem_td,.problem_title{
    background-color: #ecf0f1;
    
  }
  .problem_title{
    cursor: pointer;
  }
  .problem_td_ac{
        background-color: #26C281;
  }
    .problem_td_wa{
    background-color: #E35B5A;
   }
  .problem_title:hover{
    background-color: #dcdde1;
  }
.btn_mid{
  width: 200px;
}
.btn_sm,.btn_sm_ac,.btn_sm_pen{
  width: 70px;
  padding: 5px;
  margin: 0px;
}
.btn_sm_ac{
  background-color: green;
}
.btn_sm_pen{
  background-color: red;
}

.bg_area{
            background-color: #E6F0F3;
            padding: 30px;

        }
        .input_box{
            background-color: #0A3D62;
            width: 400px;
            height: 170px;
            color: #ffffff;
            padding: 15px;
            resize: vertical;
        }
        .problem_title_area{
        height: 50px;
        width: 100%;
        padding:10px 0px 0px 20px;
        font-size: 15px;
        color: #000000;
        resize: none;
      }
      .add_body{
        background-color: #34495e;
        padding: 15px;
        color: #ffffff;
      }
      .title_div{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;

      }
      .add_header{
          text-align: center;
          font-weight: bold;
          font-size: 18px;
      }